<main>
    <body>
    <nav class="nav">
      <label class="logo">newspaper KAR</label>
    </nav>
      <nav>
          <ul class="active">
              <li class="active" class="nav"><a href="#">Política</a></li>
              <li><a href="#">Justicia</a></li>
              <li><a href="#">Economía</a></li>
              <li><a href="#">Deportes</a></li>
              <li><a href="#">Cultura</a></li>
              <li><a href="#">Tecnología</a></li>
              <li><a href="#">Vida</a></li>
              <li><a href="#">salud</a></li>
              <li><a href="#">internacional</a></li>
              <li><a href="#">Bogotá</a></li>
              <li><a href="#">unidad investigativa</a></li>
          </ul>
      </nav>
  
      <div class="row">
        <div class="column">
          <div class="card">
            <h1>ONGs de Estados Unidos defienden a Petro y piden que se mantenga ayuda para Colombia</h1>
            <p>El grupo manifestó su incomodidad por una audiencia citada por el Congreso sobre Gustavo Petro.</p>
          </div>
        </div>
      
        <div class="column">
          <div class="card">
            <h1>Comisionado de Paz anuncia que Gobierno activará mecanismos para extradición de Mancuso
            </h1>
            <p>Presidente Petro nombró al exjefe paramilitar como gestor de paz.</p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <h1>Exoficiales de EE.UU. dicen que veían ovnis a diario: hablan de 'restos no humanos'
            </h1>
            <p>En una histórica audiencia en el Capitolio, militares dieron sus declaraciones. Pentágono las negó.</p>
          </div>
        </div>
        
        <div class="column">
          <div class="card">
            <h1>¿Cuál es la hora perfecta para irse a dormir en las noches?, la ciencia lo explica</h1>
            <p>La siesta es parte integral de la vida cotidiana y se considera una tradición saludable.</p>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <h1>¿Cuál es la hora perfecta para irse a dormir en las noches?, la ciencia lo explica</h1>
            <p>La siesta es parte integral de la vida cotidiana y se considera una tradición saludable.</p>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <h1>¿Cuál es la hora perfecta para irse a dormir en las noches?, la ciencia lo explica</h1>
            <p>La siesta es parte integral de la vida cotidiana y se considera una tradición saludable.</p>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <h1>¿Cuál es la hora perfecta para irse a dormir en las noches?, la ciencia lo explica</h1>
            <p>La siesta es parte integral de la vida cotidiana y se considera una tradición saludable.</p>
          </div>
        </div>
  
        <div class="column">
          <div class="card">
            <h1>¿Cuál es la hora perfecta para irse a dormir en las noches?, la ciencia lo explica</h1>
            <p>La siesta es parte integral de la vida cotidiana y se considera una tradición saludable.</p>
          </div>
        </div>
      </div>
    </body>
  </main>
